/Debug/
/heaps/
/Release/
/TestDebug/
LinuxDebug/**/*.o
LinuxDebug/*.exe
LinuxTestDebug/**/*.o
LinuxTestDebug/*.exe
*.stackdump
.gdbinit
*~
\#*
.\#*

LinuxDebug/**/*.o
LinuxDebug/**/*.dll
LinuxDebug/**/*.so
LinuxDebug/*.a
LinuxDebug/**/*.exe
LinuxTestDebug/**/*.o
LinuxTestDebug/**/*.dll
LinuxTestDebug/**/*.so
LinuxTestDebug/**/*.exe
LinuxTestDebug/api-test
/log/

# These are needed because mds is still on Git 1.7.1
LinuxDebug/jni/*/*.o
LinuxDebug/*.so
core.*
core

build/*/dependencies
build/*/objs
build/*/libs
build/*/templates-run
build/*/dependencies
build/*/objs
build/*/libs
build/*/templates-run
build/*/tests
build/*/heaps
build/*/createheap
build/*/products.csv

perf.data*
perf.hist*

