/bin/
annotations/bin/
.autotools
/Debug/
/Release/
*#
.#*
*~

LinuxDebug/**/*.o
LinuxDebug/**/*.dll
LinuxDebug/**/*.so
LinuxDebug/**/*.exe
LinuxDebug/error.log
/log/

# These are needed because mds is still on Git 1.7.1
LinuxDebug/jni/*/*.o
LinuxDebug/*.so
build/*/dependencies
build/*/objs
build/*/libs
build/*/templates-run
jni/lib/
lib/
libs/
jni/generated-src/
jars/
ant/
generated-src/
templates.idx
bin/
hs_err_pid*